body{
    font-family: 'Raleway', sans-serif;
}

#title{
    background-color:#ff4c68;
    color: #fff;
}
.h1{
    font-family: 'Work Sans', sans-serif;
    size: 5rem;
    line-height: 1.5;
    font-weight: bold;
    font-size: 3.5rem;
}
.navbar{
    padding: 0 0 4.5rem;
    
}
.container-fluid{
    padding: 3% 13% 7%;
}
.navabar-brand{
   color: rgb(240, 227, 227);
   font-family: 'Ubuntu', sans-serif;
   font-weight: bold;
   font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1rem;
    color: #fff;
}
.Downloadb{
    margin: 5% 3% 5% 0;
}
.imageip{
    width: 55%;
    transform: rotate(20deg);
    position: absolute;
    right: 30px;
}
#features{
    padding: 8%;
    text-align: center;
    position: relative;
    background-color: #fff;
}
.fab fa-angellist{
size: 10px;
}
h3{
    color: rgb(0, 0, 0);
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 20px;
}
p{
    color: #6d6b6b;
}
.icon {
    color: rgb(196, 110, 110);
}
.icon:hover{
    color:#ff4c68 ;
}
.it{
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    color: rgb(97, 97, 97);
}
#testimonials{
    font-family: 'Work Sans', sans-serif;
    color:#fff;
    background-color:rgb(196, 110, 110);
   
    text-align: center;
}
.carousel-item{
    padding:5% 15%;
}
.testimg{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:rgb(196, 110, 110);
    padding-bottom: 3%;
    text-align: center;
}
.primg{
    width: 15%;
    margin: 20px 20px 20px;
}
#pricing{
    padding: 100px;
}
.prcol{
    padding: 3% 2%;
    text-align: center;
}
@media(max-width:993px){
    #title{
        text-align: center;
    }
    .imageip{
        position: static;
        transform: rotate(0);
    }
}
#cta{
    background-color:#ff4c68 ;
    text-align: center;
    padding: 3%;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;

}
#footer{
    background-color: #fff;
    text-align: center;
    padding: 6%;
}
.h33{
    font-family: 'Inconsolata', monospace;
    color: #fff;
    margin: 0 0 50px;
    font-size: 3rem;
}
.pp{
    color: rgb(107, 100, 100);
}
.ppp{
    padding: 5px;
}
.h22{
    font-family: 'Inconsolata', monospace;
    font-size: 3rem;
}